<% if current_user %>
  <%= link_to 'New Post', new_post_path %>
  <%= link_to('logout', destroy_user_session_path, :method => :delete) %> |
  <%= link_to('forget password', edit_registration_path(:user)) %>
<% else %>
  <%= link_to('sign up', new_registration_path(:user)) %> |
  <%= link_to('login', new_session_path(:user)) %>
<% end %>
</br>
</br>


</br>
<% @posts.each do |post| %>
  <li>
    <h3><%= link_to post.title, post_path(post) %><h3>
    <% if current_user %>
      <% if current_user.id == post.user.id %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= button_to 'Delete', post_path(post), :method => :destroy %>
      <% end %>
    <%end %>

    <%= post.content %> </br>
    by <%= post.user.email %> 
    <%= post.created_at %> </br>
    
  </li>
<% end %>
</ul>
<%= paginate @posts %>

